 <!-- Footer -->
 <footer class="w-100 bg-primary mt-5 py-4">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between footer-button">
            <a class="navbar-brand" href="/index.html">
                <img src="https://turnedin.id/img/logo/1714118413317.png" alt="Logo" width="40" height="20" class="d-inline-block align-text-top ms-5">
                <span class="fw-bold text-light fs-5">Turned In</span>
              </a>
            <div class="d-block d-xl-flex ms-1">
                <div class="badge badge-footer text-bg-light me-2 d-flex">
                    <img src="https://www.techspot.com/images2/downloads/topdownload/2016/05/WhatsApp_Logo_1.png" class="icon-footer img-fluid" alt="WhatsApp">
                    <h6 class="text-secondary fw-normal fz-12">+6288229171372</h6>
                </div>
                <div class="badge badge-footer text-bg-light me-2 d-flex">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1000px-Instagram_logo_2022.svg.png" class="icon-footer img-fluid" alt="Instagram">
                    <h6 class="text-secondary fw-normal ms-1 fz-12">tunerdin.id</h6>
                </div>
                <div class="badge badge-footer text-bg-light me-2 d-flex">
                    <img src="https://seeklogo.com/images/T/tiktok-logo-B9AC5FE794-seeklogo.com.png" class="icon-footer img-fluid" alt="Tiktok">
                    <h6 class="text-secondary fw-normal ms-1 fz-12">turnedin.id</h6>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->