<div class="container mt-5 mb-5 p-5 justify-content-center">
    <div class="container">
        <div class="row"> 
            <div class="col-xl-4 col-12 border-between">
                <div class="row">
                    <div class="col-4">
                        <img src="https://turnedin.id/img/logo/1714118487566.png" class="img-fluid img-section" height="">                    
                    </div>
                    <div class="col-8">
                        <span class="m-0 fw-bold fz-12">Kami gak libur demi kamu</span>
                        <p class="ms-0 fz-12">Layanan Turned In buka 24 jam, kami siap layani kamu kapanpun dimanapun</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-12 border-between">
                <div class="row">
                    <div class="col-4">
                        <img src="https://turnedin.id/img/logo/1714118487567.png" class="img-fluid img-section">                    
                    </div>
                    <div class="col-8">
                        <span class="m-0 fw-bold fz-12">Cepet? Jelas udah otomatis ko</span>
                        <p class="ms-0 fz-12">Turned In gak bakal ketiduran kok :( udah full otomatis semuanyaaa</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-12">
                <div class="row">
                    <div class="col-4">
                        <img src="https://turnedin.id/img/logo/1714118487567.png" class="img-fluid img-section">                    
                    </div>
                    <div class="col-8">
                        <span class="m-0 fw-bold fz-12">Kalo ada tanya tanya susah dong?</span>
                        <p class="ms-0 fz-12">Gak ygy, ada mimin yang siap jawab pertanyaan mu kok hehe !!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>