@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.fz-12{
  font-size: 12px;
}

.text-small{
  font-size: 12px;
  color: #656565;
}

.card-product{
    width: fit-content;
}

.img-about{
    width: 280px;
  margin-top: -70px;
}

.img-section{
    width: fit-content;
    margin-top: -10px;
}

.mt-10{
  margin-top: 100px;
}

.bg-primary{
  background-color: #252e64 !important;
}

.bg-secondary{
  background-color: #252e64 !important;
}

.bg-warning{
    background-color: #f49c4c !important;
}

.icon-footer{
 width: 20px;
 height: 20px;
}

.badge-footer{
width: max-content;
height: 30px;
}

.card-login{
  width: 700px;
  border-radius: 15px;
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-container img{
  width:15%;
  height: 15%;
  margin-right: 0%;
}

.logo-container h5 {
  margin: 0;
}

.banner-item{
  width: 950px;
}

.search-bar{
  width: 600px;
}

.select-bar{
  width: 200px;
  margin-right: 8%;
}

.button-bar{
  margin-right: 10%;
  width: 24px;
}

.input-file{
  visibility: hidden;
  position: absolute;
}

.hidden{
  display: none;
}

.text-primary{
  color: #252e64 !important;
}

.btn-primary{
  background-color: #252e64 !important;
}

.fst-normal{
  font-size: small;
}

.mb-10{
  margin-bottom: -5px;
}